<div id="menu-bar" class=" md-whiteframe-3dp"  ng-controller="MyController">
  <div id="menu-button">
    <md-button class="md-icon-button menu-button" ng-click="openLeftMenu()">
       <md-icon md-svg-src="app/assets/svg/menu.svg"></md-icon>
    </md-button>
  </div>
  <h1 onclick="window.location='#!/home'">notifyMe</h1>
  <ul>
    <li><a href="#!/register" ng-show="!logged()" hide-xs>Register</a></li>
    <li><a href="#!/login" ng-show="!logged()">Sign In</a></li>
    <li><a href="#!/logout" ng-click="logout()" ng-show="logged()">Log out</a></li>
  </ul>
</div>
