<div ng-controller="MyController" ng-show="checkLogin('main')">
  <md-content class="md-whiteframe-2dp margin" flex>
    <p>All notifications<br></p>
  </md-content>
  <md-content class="md-whiteframe-2dp margin" flex>
    <ul>
      <div class="notification" ng-repeat="notification in notifications">
        <div><h2>{{notification.project}}</h2></div>
        <div class="title">{{notification.title}}</div>
        <div class="dateAuthor">{{notification.author}} {{notification.date}}</div>
        <md-button class="details" ng-click="showDetails($index)">Details</md-button>
      </div>
    </ul>
  </md-content>
</div>
