<ul ng-controller="MyController">
  <li><md-button class="sidenavButton" href='#!/home'>Home</md-button></li>
  <li><md-button class="sidenavButton" href='#!/login' ng-show="!logged()">Login</md-button></li>
  <li><md-button class="sidenavButton" href='#!/register' ng-show="!logged()">Register</md-button></li>
  <li><md-button class="sidenavButton" href='#!/main' ng-show="logged()">My notifications</md-button></li>
  <li><md-button class="sidenavButton" href='#!/add' ng-show="logged()">Add Notification</md-button></li>
  <li><md-button class="sidenavButton" href='#!/topics' ng-show="logged()">Projects</md-button></li>
</ul>
