<div  layout="column" ng-controller="DataController">
  <md-content class="md-whiteframe-2dp margin" flex>
    <p>Add topic<br></p>
    <form name="Form">
    <md-input-container class="md-block">
      <input type="text" name="channel" placeholder="name" ng-model="vm.formData.channel" required=""/>
      <div ng-messages="Form.channel.$error" role="alert" multiple="">
        <div ng-message="required" class="my-message">Please enter name.</div>
      </div>
    </md-input-container>
  </form>
  <md-button ng-disabled="!Form.$valid" ng-click="addChannel()" class="md-raised md-primary">&nbsp Add &nbsp</md-button>
  </md-content>
  <md-content class="md-whiteframe-2dp margin" flex>
    <ul>
      <div class="notification" ng-repeat="channel in channels" layout="row">
        <div><h2>{{channel}}</h2></div>
        <md-button>Edit</md-button>
        <md-button>Delete</md-button>
      </div>
    </ul>
  </md-content>
</div>
